<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Core privacy controls target arbitrary user-selected installed apps, including sideloaded
         packages without launcher activities. A fixed package/intent queries list cannot enumerate
         those targets. The inventory stays on-device. This is not a Play approval declaration. -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:label="GhostViki"
        android:theme="@style/AppTheme"
        android:icon="@drawable/ic_ghostviki"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:usesCleartextTraffic="false"
        android:enableOnBackInvokedCallback="true">

        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Selected-app identity and framework location testing" />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data android:name="xposedsharedprefs" android:value="true" />
        <meta-data android:name="xposedscope" android:resource="@array/module_scope" />

        <activity
            android:name=".SystemLocationActivity"
            android:exported="false" />

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
