<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>
    <application android:label="Mirage" android:theme="@style/AppTheme"
        android:icon="@drawable/ic_mirage" android:allowBackup="false"
        android:supportsRtl="true" android:usesCleartextTraffic="false">
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Selected-app identity and location testing" />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data android:name="xposedsharedprefs" android:value="true" />
        <meta-data android:name="xposedscope" android:resource="@array/module_scope" />
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
